<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Meta Tags para SEO -->
        <meta name="description" content="Quieres formar parte de nuestro equipo | Bist du auf der Suche nach einem Ferienjob?">
        <meta name="keywords" content="Job, vendedor, Mitarbeiter, Verkauf, Bewerbung">
        <!-- fuente google roboto -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <!-- fuente de google Kalam -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">
        <!--etiqueta favicon. icono de la pestaña -->
        <link rel="shortcut icon" href="../pics/helado.png" type="image/x-icon">
        <!-- etiqueta animaciones-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <!-- link archivo css -->
        <link rel="stylesheet" href="../css/style.css">
        <title>Patagon Helados | Incorporate | Sei einer von uns</title>
    </head>
<body>
    <!-- inicio header -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <!-- Inicio bloque ContainerNav -->
    <div class="container-fluid">
        <img class="containerNav__imagenLogo--tamanio" src="../pics/logo.jpg" alt="logo">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span><img src="../pics/heladoNavMedium.svg" alt="iconoNav"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav align-items-center">
            <li class="nav-item me-2">
            <a class="nav-link active containerNav__items--estiloFuente" aria-current="page" href="../index.html">Home</a>
            </li>
            <li class="nav-item me-2">
            <a class="nav-link containerNav__items--estiloFuente" href="productos.html">Productos</a>
            </li>
            <li class="nav-item me-2">
            <a class="nav-link containerNav__items--estiloFuente" href="quienesSomos.html">Quienes somos</a>
            </li>
            <li class="nav-item">
            <a class="nav-link containerNav__items--estiloFuente" href="incorporate.html">Incorporate</a>
            </li>
        </ul>
        </div>
    </div>
    </nav>
    </header>
    <!-- inicio main -->
    <main>
        <div class="container shadow">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="title">¡Incorporate a nuestro Team!</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h2>¿Te encuentras en busqueda de trabajo?</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3>¿Estás buscando un trabajo vacacional y eres flexible en julio / agosto para formar parte de nuestro equipo? </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3>¿El trato con los clientes te da gusto y te llamarías amante del helado?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3>¿Dominas el idioma alemán? (Minimo nivel B1)</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3>Por favor envíanos tu curriculum y tu disponibilidad horaria en julio / agosto a la siguiente dirección:</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3><span class="incorporate__email--tamanioFuente">patagon.business@hotmail.com</span></h3>
                </div>
            </div>
        </div>
    </main>
    <!-- inicio footer-->
    <footer>
        <ul class="footer__enlacesEstilo">
            <li>Quicklinks
                <ul>
                    <li><a href="../index.html"><img src="../pics/home.png" alt="homeIcon"> Home</a></li>
                    <li><a href="productos.html"><img src="../pics/ice-cream.png" alt="iceCreamIcon"> Productos</a></li>
                    
                </ul>
            </li>
            <li>Contactanos
                <ul>
                    <li><a href="https://www.facebook.com/Patagon-Helados-1893150427420894/" target="_blank"><img src="../pics/facebook.png" alt="fbIcon"> Facebook</a></li>
                    <li><a href="https://www.instagram.com/patagon.helados/" target="_blank"><img src="../pics/instagram.png" alt="instaIcon"> Instagram</a></li>
                </ul>
            </li>
            <li>Informacion
                <ul>
                    <li><a href="quienesSomos.html"><img src="../pics/quienesSomosIcon.png" alt="quienesSomosIcon"> Quienes Somos</a></li>
                    <li><a href="formulario.html"><img src="../pics/newsletter.png" alt="newsletterIcon"> Newsletter</a></li>
                </ul>
            </li>
            <li class="footer__incorporate--oculto">Jobs
                <ul>
                    <li><a href="incorporate.html"><img src="../pics/job.png" alt="jobIcon"> Incorporate</a></li>
                </ul>
            </li>
        </ul>
    </footer>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>