// Estilos del header 
header{
    nav{
        .containerNav__imagenHeader--posicion{
            background-image: url(./pics/headerHelados.jpg) !important;
            background-repeat: no-repeat;
            background-position: center;
        }
        .containerNav__imagenLogo--tamanio{
            width: 150px;
            border: solid black 1px;
            border-radius: 50%;
        }
        .containerNav__items--estiloFuente{
            font-size: 30px;
            font-weight: 600;
            color: $chocolate !important;
            padding: 0px 1rem !important;
            margin-bottom: .5rem;
            background-color: $crema;
            border-radius: 20%;
            border: solid black 1px;
            &:hover{
                color: black !important;
            }
        }
    }
    

}