// table 
table{
    color:black;
    border: solid 5px chocolate;
    margin:auto;
    margin-bottom: 70px;
    background:#F7DC6F;
    font-family: sans-serif;
    max-width: 1.5rem;
}
th{
    background-color: #F1C40F;
    padding:2rem;
    font-weight: bold;
}
tr{
    background-color: #2ECC71;
}
td{
    padding: .7rem;
    background-color:#FCF3CF;    
}