// Reset del navegador 
@import "utilities/variables";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    body{
        background-color: #fafafa;
        background-image: url('../pics/montanas2.png');
        background-repeat:space;
        background-blend-mode:color-burn;
    }
}