// Reset del navegador 
@import "utilities/variables";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    body{
        background: linear-gradient(to bottom, $gradienteColor1, $gradienteColor2, $gradienteColor3);
    }
}